<div id="footer"><span id="Scroll"><a href="#">&uarr;</a></span>

    <div id="footer_inner">
        <div class="columns">
            <div class="widget">
                <h6>About Us</h6>

                <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequa massa quis enim.</p>

                <p>Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            </div>
            <div class="clear"></div>
        </div>

        {% include "partial/footer/flckr.html" %}

        <div class="columns">
            <div class="widget">
                <h6>Recent Posts</h6>
                <ul class="recent_posts">
                    <li class="clearfix">
                        <h3 class="title"><a href="#">Samsung seeks ban on sale of key Apple products in US</a></h3>
                    </li>
                    <li class="clearfix">
                        <h3 class="title"><a href="#">Big fast-food chains lag rivals in taste</a></h3>
                    </li>
                    <li class="clearfix">
                        <h3 class="title"><a href="#">Toyota recalls 110,000 hybrid cars on safety concerns</a></h3>
                    </li>
                    <li class="clearfix">
                        <h3 class="title"><a href="#">Sony hacker now on Facebook payroll</a></h3>
                    </li>
                    <li class="clearfix">
                        <h3 class="title"><a href="#">Sarkozy involved in scuffle during handshake tour</a></h3>
                    </li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>

        {% include "partial/footer/quick_link.html" %}

        <div class="clear"></div>
        <div class="footer_bottom">
            <ul class="footer_menu">
                <li><a href="/">Home</a> /</li>
                <li><a href="/">About</a> /</li>
                <li><a href="http://newscred.com/contact">Contact</a> /</li>
                <li><a href="#">Licensing</a></li>
            </ul>
            <p>&copy; <a target="_blank" href="http://www.newscred.com">NewsCred</a> demo project </p>
        </div>
    </div>
</div>