<div id="category_sort" class="clearfix">
    <div class="column">
        <h4><span>Technology</span></h4>
       {% for article in articles %}
             <ul>
                    <li><a href="/article/{{ article.guid }}/{{ article.title|slugify }}">{{ article.title }}</a></li>
             </ul>
    </div>
        {%   endfor %}
    <div class="column">
        <h4><span>Hot on Web</span></h4>
        <ul>
            <li><a href="#">Google Launches Its Google+ Social Networking Service</a></li>
        </ul>
    </div>
    <div class="column">
        <h4><span>Entertainment</span></h4>
        <ul>
            <li><a href="#">Justin Timberlake to promote MySpace</a></li>
        </ul>
    </div>
</div>