 <div id="category_sort" class="clearfix">
          <div class="column">
            <h4><span>Technology</span></h4>
            <ul>
              <li><a href="#">Scientists use inkjet printing to produce solar cells</a></li>
              <li><a href="#">iPhone 5 delay, Android fears drag Apple stock</a></li>
              <li><a href="#">Panasonic unveils stereo headset</a></li>
              <li><a href="#">Google Chrome OS has security holes</a></li>
              <li><a href="#">Nokia shuts down online stores</a></li>
            </ul>
          </div>
          <div class="column">
            <h4><span>Hot on Web</span></h4>
            <ul>
              <li><a href="#">Google Launches Its Google+ Social Networking Service</a></li>
              <li><a href="#">World of Warcraft offered 'free'</a></li>
              <li><a href="#">Skype rolls out free app for Android phones</a></li>
              <li><a href="#">PayPal Predicts The End of the Wallet By 2015</a></li>
              <li><a href="#">Apple iPad now has over 100,000 apps</a></li>
            </ul>
          </div>
          <div class="column">
            <h4><span>Entertainment</span></h4>
            <ul>
              <li><a href="#">Spacey's Richard III wows critics</a></li>
              <li><a href="#">Maria Sharapova returns to Wimbledon final</a></li>
              <li><a href="#">Beyonce's debut brings curtain down on Glastonbury</a></li>
              <li><a href="#">Mike Tyson in Big Brother?</a></li>
              <li><a href="#">Justin Timberlake to promote MySpace</a></li>
            </ul>
          </div>
        </div>