<div id="double_container">
    <h4 class="cont-title"><span>Some more posts</span></h4>

    <div class="post_double">
        <h4 class="post_title"><a href="#">US Secret Service probes "Obama's assassination" on Twitter</a><span
                class="comment_bubble"><a href="#">21</a></span></h4>

        <div class="post_content clearfix">
            <div class="thumbnail"><a href="#"><img src="{{ STATIC_URL }}post-images/obama.jpg" alt=""/></a></div>
            <div class="summary_article">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab ...</p>
            </div>
        </div>
        <span class="read_more"><a href="#">More...</a></span></div>
    <div class="post_double">
        <h4 class="post_title"><a href="#">Djokovic beats Nadal to win maiden Wimbledon title</a><span
                class="comment_bubble"><a href="#">9</a></span></h4>

        <div class="post_content clearfix">
            <div class="thumbnail"><a href="#"><img src="{{ STATIC_URL }}post-images/djokovic.jpg" alt=""/></a></div>
            <div class="summary_article">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et ...</p>
            </div>
        </div>
        <span class="read_more"><a href="#">More...</a></span></div>
    <div class="post_double">
        <h4 class="post_title"><a href="#">Emma Watson used doubles in the last potter film: Rupert Grint</a><span
                class="comment_bubble"><a href="#">15</a></span></h4>

        <div class="post_content clearfix">
            <div class="thumbnail"><a href="#"><img src="{{ STATIC_URL }}post-images/emma_watson.jpg" alt=""/></a></div>
            <div class="summary_article">
                <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie,
                    musica, sport etc, litot Europa usa li sam vocabular...</p>
            </div>
        </div>
        <span class="read_more"><a href="#">More...</a></span></div>
    <div class="post_double">
        <h4 class="post_title"><a href="#">Yahoo! criticised over e-mail 'snooping' for advertising</a><span
                class="comment_bubble"><a href="#">7</a></span></h4>

        <div class="post_content clearfix">
            <div class="thumbnail"><a href="#"><img src="{{ STATIC_URL }}post-images/yahoo.jpg" alt=""/></a></div>
            <div class="summary_article">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ...</p>
            </div>
        </div>
        <span class="read_more"><a href="#">More...</a></span></div>
    <div class="clear"></div>
</div>