<div id="inner-content">
        <div id="entry">
          <div id="post-top">
            <h3 id="post-title">{{ description}}</h3>
            <div class="post-meta"> <span class="author">Posted by <a href="#">JDsans</a></span><span class="posting-date">August 4 2010</span><span class="label"><a href="#">Technology</a> , <a href="#">Business</a> , <a href="#">Report</a></span> <span class="print"><a onclick="window.print()" href="#">Print</a></span> </div>
          </div>
          <div class="entry-content">
            <img src="{{ STATIC_URL }}post-images/facebook_chat.jpg" alt="" />
            <p>{{ topic }}</p>
            <h1>Headings Example</h1>
            <h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1>
            <h2>Aenean commodo ligula eget dolor aenean massa</h2>
            <h3>Aenean commodo ligula eget dolor aenean massa</h3>
            <h4>Aenean commodo ligula eget dolor aenean massa</h4>
            <h5>Aenean commodo ligula eget dolor aenean massa</h5>
            <h6>Aenean commodo ligula eget dolor aenean massa</h6>
            <h1>Unordered List Example</h1>
            <ul>
              <li>Lorem ipsum dolor sit amet consectetuer.</li>
              <li>Aenean commodo ligula eget dolor.</li>
              <li>Aenean massa cum sociis natoque penatibus.</li>
            </ul>
            <h1>Ordered List Example</h1>
            <ol>
              <li>Lorem ipsum dolor sit amet consectetuer.</li>
              <li>Aenean commodo ligula eget dolor.</li>
              <li>Aenean massa cum sociis natoque penatibus.</li>
            </ol>
            <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
            <div class="social_sharing_post"> <a href="#" class="twitter"> Twitter</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="stumble">Stumble Upon</a> <a href="#" class="digg">Digg It!</a> <a href="#" class="delicious">Del.ici.ous</a></div>
          </div>
          <div id="related_posts" class="clearfix">
            <h3><span>Related posts</span></h3>
            <ul>
              <li>
                <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}post-images/related-posts/samsung144x105.jpg" alt=""/></a></div>
                <div class="heading-container">
                  <h4 class="post_title"><a href="#">Samsung seeks ban on sale of key Apple...</a></h4>

              </li>
              <li>
                <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}post-images/related-posts/fast-food144x105.jpg" alt=""/></a></div>
                <div class="heading-container">
                  <h4 class="post_title"><a href="#">Big fast-food chains lag rivals in taste</a></h4>

              </li>
              <li>
                <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}post-images/related-posts/sony_hacker144x105.jpg" alt=""/></a></div>
                <div class="heading-container">
                  <h4 class="post_title"><a href="#">Sony hacker now on Facebook payroll</a></h4>

              </li>
              <li>
                <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}post-images/related-posts/hybrid144x105.jpg" alt=""/></a></div>
                <div class="heading-container">
                  <h4 class="post_title"><a href="#">Toyota recalls 110,000 hybrid cars on safety...</a></h4>

              </li>
            </ul>
          </div>
        </div>

      </div>