<div id="single_post_container">
          <div class="post_single">
            <h4 class="post_title clearfix"><a href="#">Dropbox Bug Made Accounts Accessible Without Passwords</a><span class="comment_bubble"><a href="#">4</a></span></h4>
            <div class="post_content clearfix">
              <div class="thumbnail"> <a href="#"><img src="{{ STATIC_URL }}post-images/dropbox150x150.jpg" alt="" /></a></div>
              <div class="summary_article">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis ...</p>
              </div>
            </div>
            <span class="read_more"><a href="#">More...</a></span> </div>
          <div class="post_single">
            <h4 class="post_title"><a href="#">Baidu and Microsoft tie-up for English search in China</a><span class="comment_bubble"><a href="#">10</a></span></h4>
            <div class="post_content clearfix">
              <div class="thumbnail"> <a href="#"><img src="{{ STATIC_URL }}post-images/baidu150x150.jpg" alt="" /></a></div>
              <div class="summary_article">
                <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. </p>
                <p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua francaande lingues ...</p>
              </div>
            </div>
            <span class="read_more"><a href="#">More...</a></span> </div>
          <div class="clear"></div>
          <div class="pagenavi clearfix"> <span class="pages">Page 1 of 18</span><span class="current">1</span> <a class="page_number" href="#">2</a> <a class="page_number" href="#">3</a> <a class="page_number" href="#">4</a> <a class="page_number" href="#">5</a> <a class="page_number" href="#">6</a> <a class="page_number" href="#">7</a> <a class="page_number" href="#">8</a> <a class="nextpostslink" href="#">››</a> <span class="extend">...</span> <a class="last" href="#">Last »</a></div>
        </div>