<div id="slider-wrapper">
    <div id="slider" class="nivoSlider"><a href="#">
        <img src="{{ STATIC_URL }}nivo-slider/facebook_chat.jpg" alt=""
                                                         rel="nivo-slider/facebook_chat_thumb.jpg"/></a> <a
            href="#"><img src="nivo-slider/lady_gaga.jpg" alt="" rel="nivo-slider/lady_gaga_thumb.jpg"/></a> <a
            href="#"><img src="nivo-slider/madonna.jpg" alt="" rel="nivo-slider/madonna_thumb.jpg"/></a> <a
            href="#"><img src="nivo-slider/apple.jpg" alt="" rel="nivo-slider/apple_thumb.jpg"/></a> <a href="#"><img
            src="nivo-slider/movie.jpg" alt="" rel="nivo-slider/movie_thumb.jpg"/></a> <img src="nivo-slider/money.jpg"
                                                                                            alt=""
                                                                                            rel="nivo-slider/money_thumb.jpg"/>
    </div>
    <div class="clear"></div>
</div>