<div id="tabs">

    <div class="tabs-inner">
        <div id="tab-one" class="tab">
            <ul>
                <li>
                    <div class="tab-thumb"><a class="thumb" href="#"><img width="45" height="45" alt=""
                                                                          src="{{ STATIC_URL }}post-images/obama_thumb.jpg"/></a>
                    </div>
                    <h3 class="entry-title"><a class="title" href="#">US Secret Service probes "Obama's assassination"
                        ...</a></h3>

                    <div class="entry-meta entry-header"><span class="published">June 7, 2011</span>
                    </div>
                </li>
                <li>
                    <div class="tab-thumb"><a class="thumb" href="#"><img width="45" height="45" alt=""
                                                                          src="{{ STATIC_URL }}post-images/baidu_thumb.jpg"/></a>
                    </div>
                    <h3 class="entry-title"><a class="title" href="#">Baidu and Microsoft tie-up for English search in
                        China</a></h3>

                    <div class="entry-meta entry-header"><span class="published">June 21, 2011</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab tab-recent" id="tab-two">
            <ul>
                <li>
                    <div class="tab-thumb"><a class="thumb" href="#"><img alt=""
                                                                          src="{{ STATIC_URL }}post-images/samsung_thumb.jpg"/></a>
                    </div>
                    <h3 class="entry-title"><a class="title" href="#">Samsung seeks ban on sale of key Apple products in
                        US</a></h3>

                    <div class="entry-meta entry-header"><span class="published">June 7, 2011</span>
                    </div>
                </li>
                <li>
                    <div class="tab-thumb"><a class="thumb" href="#"><img alt=""
                                                                          src="{{ STATIC_URL }}post-images/fast-food_thumb.jpg"/></a>
                    </div>
                    <h3 class="entry-title"><a class="title" href="#">Big fast-food chains lag rivals in taste</a></h3>

                    <div class="entry-meta entry-header"><span class="published">June 7, 2011</span>
                    </div>
                </li>

            </ul>
        </div>
        <div class="tab tab-comments" id="tab-three">
            <ul>
                <li class="clearfix"><a href="#"><img width="45" height="45" class="avatar"
                                                      src="{{ STATIC_URL }}post-images/dropbox_thumb.jpg" alt=""/></a>
                    <span><a href="#"><b>Lady Gaga</b>: Nullam id dolor id nibh ultricies vehicula ut id
                        elit....</a></span></li>

            </ul>
        </div>

    </div>
</div>
</div>